#Base de datos (PostgreSQL)
DATABASE_URL="postgresql://usuario:password@localhost:5432/miBaseDeDatos?schema=public"

GOOGLE_CLIENT_ID={ClientID de google OAuth}
GOOGLE_CLIENT_SECRET={ClientSecret de google Oauth}
JWT_SECRET_KEY=JAIFAJFAJklvnkajiofjeiJLKF_sPE904

#Configuración de correo SMTP
SMTP_USER=miusuario@gmail.com
SMTP_PASS=contraseña_generada_de_aplicacion
