#Base de datos (PostgreSQL)
DATABASE_URL="postgresql://usuario:password@localhost:5432/miBaseDeDatos?schema=public"

GOOGLE_CLIENT_ID=36546507234-vdgt0dqp0a8nqs396nboasgs3m60pn9l.apps.googleusercontent.com 
GOOGLE_CLIENT_SECRET=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 
JWT_SECRET_KEY=JAIFAJFAJklvnkajiofjeiJLKF_sPE904

#Configuración de correo SMTP
SMTP_USER=miusuario@gmail.com
SMTP_PASS=contraseña_generada_de_aplicacion
